{% extends 'lecturer_base.html.twig' %}

{# ------------------------------------------------- #}
{% block pageTitle %}Lecturer{% endblock %}

{# ------------------------------------------------- #}
{% block listLinkStyle %}current_page{% endblock %}

{# ------------------------------------------------- #}
{% block main %}


    <h2>ALL STUDENTS</h2>






    <table>
        <tr>
            <th> ID</th>
            <th> First-name</th>
            <th> Surname</th>
            <th> Age</th>
            <th> GPA</th>
            <th> Status</th>

        </tr>



        {% for dvd in dvds %}
            <tr>
                <td>{{ dvd.id }}</td>
                <td><a href="/?action=detail&id={{ dvd.id }}">{{ dvd.first }}</a></td>
                <td>{{ dvd.surname }}</td>
                <td>{{ dvd.age }}</td>
                <td>{{ dvd.gpa }} </td>
                <td>{{ dvd.status }}</td>


            </tr>
        {% endfor %}

    </table>

{% endblock %}
