{% extends '_base.html.twig' %}

{# ------------------------------------------------- #}
{% block pageTitle %}List Students{% endblock %}

{# ------------------------------------------------- #}
{% block listLinkStyle %}current_page{% endblock %}

{# ------------------------------------------------- #}
{% block main %}






    <table>
        <tr>
            <th> ID</th>
            <th> First-name</th>
            <th> Surname</th>
            <th> Age</th>
            <th> GPA</th>
            <th> Status</th>

        </tr>



        {% for cv in cvs %}
            <tr>
                <td>{{ cv.id }}</td>
                <td><a href="/?action=detail&id={{ cv.id }}">{{ cv.first }}</a></td>
                <td>{{ cv.surname }}</td>
                <td>{{ cv.age }}</td>
                <td>{{ cv.gpa }} </td>
                <td>{{ cv.status }}</td>


            </tr>
        {% endfor %}

    </table>

{% endblock %}
