{% extends 'lecturer_base.html.twig' %}

{# ------------------------------------------------- #}
{% block pageTitle %}View Students{% endblock %}

{# ------------------------------------------------- #}
{% block listLinkStyle %}current_page{% endblock %}

{# ------------------------------------------------- #}
{% block main %}

    <h2>ALL STUDENTS</h2>


    <table>
        <tr>
            <th> ID</th>
            <th> First-name</th>
            <th> Surname</th>
            <th> Age</th>
            <th> GPA</th>
            <th> Status</th>

        </tr>


        <form
                action="/createStudent"
                method="post">
            <input type="submit" value="Create a new Student">
        </form>

        {% for dvd in dvds %}
            <tr>
                <td>{{ dvd.id }}</td>
                <td>{{ dvd.first }}</td>
                <td>{{ dvd.surname }}</td>
                <td>{{ dvd.age }}</td>
                <td>{{ dvd.gpa }} </td>
                <td>{{ dvd.status }}</td>
                <td>
                    <form
                            action="/editStudent&id={{ dvd.id }}"
                            method="post">
                        <input type="submit" value="(edit)">
                    </form>
                </td>
                <td>
                    <form
                            action="/deleteStudent&id={{ dvd.id }}"
                            method="post">
                        <input type="submit" value="(delete)">
                    </form>
                </td>
                <td>
                    <form
                            action="/privateMessage&{{ dvd.id }}"
                            method="post">
                        <input type="submit" value="send private message">
                    </form>
                </td>
                <td>
                    <form
                            action="/employ&{{ dvd.id }}"
                            method="post">
                        <input type="submit" value="Employ">
                    </form>
                </td>


            </tr>
        {% endfor %}

    </table>

{% endblock %}
