{% extends 'lecturer_base.html.twig' %}

{# ------------------------------------------------- #}
{% block pageTitle %}View Cvs{% endblock %}

{# ------------------------------------------------- #}
{% block listLinkStyle %}current_page{% endblock %}

{# ------------------------------------------------- #}
{% block main %}


    <h2>Click a name to check there cv</h2>



    <table>
        <tr>
            <th> ID</th>
            <th> First-name</th>
            <th> Surname</th>
            <th> Age</th>


        </tr>


        {% for cv in cvs %}
            <tr>
                <td>{{ cv.id }}</td>
                <td><a href="/detail&{{ cv.id }}">{{ cv.first }}</a></td>
                <td>{{ cv.surname }}</td>
                <td>{{ cv.age }}</td>


            </tr>
        {% endfor %}

    </table>

{% endblock %}
